footer{
position: absolute;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  background-color: rgba(17, 136, 238, 1);
  display: flex;
  justify-content: space-around;
 height: 104px;
 font-size: 22px;
 padding: 45px ;
  img{
    width: 21.169023513793945px;
    height: 34.81733322143555px;
  }
}
