.head{
    background-color: #18232E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.5rem 1rem;
}


.logo img{
    height: 40px;
}

.menu{
    list-style: none;
    display: flex;
    gap:16px ;
    flex-direction: column;
}



.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  position: relative;
  padding-bottom: 4px;

}

.menu li{
    list-style: none;

}

ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

li{
    padding: 10px;
}


.menu-btn {
    display: none;
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }

  .menu ul  li a::after{
  content: '';
  position: absolute;
  bottom: 0;              /* Fica colado na parte de baixo */
  left: 0;                /* Começa da esquerda */
  width: 0;               /* Começa invisível */
  height: 2px;
  background-color: red;  /* Cor da linha */
  transition: width 0.3s ease;
    }


  .menu ul  li a:hover::after{
    width: 100%;
    }

  @media (max-width: 768px) {
    .menu-btn{
        display: flex;
      justify-content: end;

      width: 100%;

    }
    ul{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #18232E;
        position: absolute;
        top: 60px;
        left: 0;
    }

    ul.open{
        display: flex;
    }

    ul li{
        padding: 1rem;
        border-bottom: 1px solid #555;
    }
  }


